.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
	svg {
		display: block;
	}
}

.nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0 0 0 15px;
		padding: 0;
	}

	a {
		color: $color-black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}